# Database Configuration (Neon/PostgreSQL)
# Format: postgres://USER:PASSWORD@HOST:PORT/DATABASE
DATABASE_URL=postgres://your_user:your_password@your_neon_host.neon.tech/neondb?sslmode=require

# Email Configuration (Resend)
RESEND_API_KEY=your_resend_api_key
RESEND_FROM_EMAIL=onboarding@resend.dev

# Django Settings
SECRET_KEY=django-insecure-!f^m_=16&p22s&adq0+ix#v(^o8i$rr_7v6tk51c4=0d16h0ti
DEBUG=True
